{% extends 'base.html'   %}
{%block content%}
<div class="content">
  <div class="image" style=" position: absolute; overflow: scroll;">
    <div class="navbar">            
        <a href= "{%url 'login'%}" style="float: left;padding-top: 20px;">Back</a>
    
      
    </div> 

<h3 style="text-align: center;float: inline-start;">Sign In</h3>
<form method="POST">
    {%csrf_token%}
    <div class="form-group"style="position:relative;text-align:justify">
      <div class="block"> 
    {{formobj.as_p}}
    
    <input class ="submit"  style="margin-top:30px;" type="submit"  value="Sign In"><br>
    
  </div>
</div>
{{error}} 
</form>
{% if error %}
{{ error }}

{%endif%}
</div>
</div>
{% endblock %}
